@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;700&display=swap');

*{
    font-family: 'Inter Tight', sans-serif;
}

.main-container {
    margin: auto;
    width: 80%;
}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;

    .bar-nav {

        ul {
            display: flex;
            gap: 50px;
            margin: 0px;
            padding: 0px;

            li {
                list-style: none;
                margin: 0px;
                padding: 0px;

                a {
                    font-size: 17px;
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                }
                a:hover {
                    color: #F14738;
                }
            }
        }
    }
}

.second-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);

    .container-img {
        grid-column: 1/3;
        img {
            max-width: 100%;
        }
    }

    .container-tittle {
        grid-column: 1/2;
        grid-row: 2/3;

        p {
            font-weight: 900;
            font-size: 3.5em;
            margin: 0px;
            word-spacing: 10px;
        }
    }
    
    .container-button {
        grid-column: 2/3;
        grid-row: 2/3;

        p {
            line-height: 1.5;
            margin-top: 5px;
            font-size: 19px;
        }

        button {
            border: none;
            padding: 15px;
            letter-spacing: 3px;
            width: 200px;
            background-color: #F14738;
            color: white;
            font-weight: bold;
            margin-top: 55px;
        }

        button:hover {
            background-color: #0F121B;
        }
    }

    .container-news {
        display: flex;
        flex-direction: column;
        grid-row: 1/3;
        background-color: #0F121B;

        .bar {
            height: 1px;
            width: 85%;
            border-top: solid grey 1px;
        }

        .tittle {
            margin: 20px 25px;
            font-size: 3em;
            font-weight: 700;
            color: #F3A538;
        }

        div {
            margin: 20px 20px;
            margin-left: 25px;
            color: white;

            h3 {
                margin: 20px 0px;
                font-size: 25px;
                word-spacing: 6px;
            }
        }
    }
}

