@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@200;700&display=swap');

*{
    font-family: 'Inter Tight', sans-serif;
}

.main-container {
    margin: auto;
    width: 80%;
}

.first-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;


    .bar-nav {

        .mobile-menu {
            display: none;
        }

        ul {
            display: flex;
            gap: 50px;
            margin: 0px;
            padding: 0px;

            li {
                list-style: none;
                margin: 0px;
                padding: 0px;

                a {
                    font-size: 17px;
                    text-decoration: none;
                    color: black;
                    cursor: pointer;
                }
                a:hover {
                    color: #F14738;
                }
            }
        }
    }
}

.second-container {
    display: grid;
    width: 100%;
    gap: 20px;
    grid-template-areas: 
        "img-area img-area news-area"
        "tittle-area p-area news-area";

    .container-img {
        grid-area: img-area;
        img {
            max-width: 100%;
        }
    }

    .container-tittle {
        grid-area: tittle-area;

        p {
            font-weight: 900;
            font-size: 3.5em;
            margin: 0px;
            word-spacing: 10px;
        }
    }
    
    .container-button {
        grid-area: p-area;

        p {
            line-height: 1.5;
            margin-top: 5px;
            font-size: 19px;
        }

        button {
            border: none;
            padding: 15px;
            letter-spacing: 3px;
            width: 200px;
            background-color: #F14738;
            color: white;
            font-weight: bold;
            margin-top: 55px;
        }

        button:hover {
            background-color: #0F121B;
            cursor: pointer;
        }
    }

    .container-news {
        grid-area: news-area;
        display: flex;
        flex-direction: column;
        background-color: #0F121B;

        .bar {
            height: 1px;
            width: 85%;
            border-top: solid grey 1px;
        }

        .tittle {
            margin: 20px 25px;
            font-size: 3em;
            font-weight: 700;
            color: #F3A538;
        }

        div {
            margin: 20px 20px;
            margin-left: 25px;
            color: white;

            h3 {
                margin: 20px 0px;
                font-size: 25px;
                word-spacing: 6px;
            }
        }
    }
}

.third-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 80px;
    justify-content: space-between;
    width: 100%;

    .third-container-0 {
        display: flex;
        gap: 30px;
        width: 457PX;
        height: 200px;
        margin-top: 20px;

        .container-p {
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            img {
                max-width: 100%;
                
            }

            h3 {
                font-size: 3em;
                font-weight: bold;
                margin: 0px;
                color: grey;
            }

            h4 {
                font-size: 1.2em;
                margin-bottom: 5px;
            }

            p {
                text-overflow: ellipsis;
                white-space: nowrap;
                margin-bottom: 0px;
            }
        }
    }

}

.attribution {
    margin: 20px;
}

@media (max-width: 500px) {

    .main-container {
        margin: auto;
        width: 90%;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: space-between;
        

        div {
            width: 50px;
            border: solid black 1px;
        }
    }

    .mobile-menu {
        display: block;
        display: flex;
        flex-direction: column;
        gap: 10px;

        div {
            border: solid black 2px;
        }
    }

    .bar-nav {
        display: none;
    }

    .bar-nav-visible {
        width: 70%;
        display: flex;
        flex-direction: column;
        gap: 70px;
        background-color: white;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);

        .button-exit {
            display: flex;
            flex-direction: column;
            gap: 25px;
            margin-top: 20px;
            width: 40px;
            margin-left: 70%;
            
            .bar-1 {
                border: solid black 2px;
                rotate: -45deg;
                translate: 0px 28px;
            }

            .bar-2 {
                border: solid black 2px;
                rotate: 45deg;
                translate: 0;
            }

        }

        ul {
            display: flex;
            gap: 30px;
            flex-direction: column;
            margin: 0px;
            padding: 0px;

            li {
                font-weight: 600;
                list-style: none;
                margin: 0px;
                padding: 0px;

                a {
                    text-decoration: none;
                    color: black;
                    margin: 0px;
                    padding: 0px;
                    margin-left: 25px;
                }
                a:hover {
                    color: #F14738;
                }
            }
        }
    }


    .second-container {
        display: grid;
        width: 100%;
        gap: 20px;
        grid-template-areas: 
            "img-area"
            "tittle-area"
            "p-area"
            "news-area";
    }

    .third-container {

        .third-container-0 {
            gap: 5px;

            h4 {
                font-size: 10px;
                margin-top: 0px;
            }

            p {
                font-size: 10px;
                margin-top: 0px;
            }
        }
    }
}